.ventana {
  border: 1px #00aae4 solid;
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 72px 143px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 0px 0px 72px 143px rgba(0, 0, 0, 0.66);
  box-shadow: 0px 0px 720px 1430px rgba(0, 0, 0, 0.66);
  text-align: center;
  position: fixed;
  display: none;
  top: 20px;
  bottom: 80px;
  left: 30%;
  right: 30%;
  width: 40%;
  height: 625px;
}

.vimg {
  width: 450px;
  height: 300px;
  margin: 3%;
  border-radius: 2px;
  box-shadow: 5px 35px 45px rgba(25, 37, 66, 0.2);
}

.ventana_p {
  margin-right: 40px;
  margin-left: 30px;
  padding-right: 5%;
  padding-left: 5%;
}

.navigation__link1 {
  text-decoration: none;
  background-color: #c9c9c9;
  color: black;
  border: black solid 1px;
  border-radius: 5px;
  padding: 2px;
  font-weight: bold;
}

.ventana h2 {
  margin-top: 2px;
  margin-bottom: 2px;
}
